{#
  Joomla site footer.

  Included only when JOOMLA_BASE_URL is configured.
#}

<footer class="container-footer footer full-width">
    <div class="grid-child">
        <ul id="mod-menu110" class="mod-menu mod-list nav ">
            <li class="nav-item item-117"><a href="{{ JOOMLA_BASE_URL }}/#" >About</a></li>
            <li class="nav-item item-118"><a href="{{ JOOMLA_BASE_URL }}/contact" >Contact</a></li>
            <li class="nav-item item-119"><a href="{{ JOOMLA_BASE_URL }}/accessibility" >Accessibility</a></li>
            <li class="nav-item item-120"><a href="{{ JOOMLA_BASE_URL }}/privacy" >Privacy</a></li>
            <li class="nav-item item-184"><a href="{{ JOOMLA_BASE_URL }}/administrators" >Administrators</a></li>
        </ul>

        <div id="mod-custom112" class="mod-custom custom">
            <p style="text-align: center;"><img class="float-none" style="margin-left: 10px; margin-right: 10px;" src="{{ JOOMLA_BASE_URL }}/images/logos/stfc-white.png" alt="STFC logo" width="300" height="77"><img class="float-none" style="margin-left: 10px; margin-right: 10px;" src="{{ JOOMLA_BASE_URL }}/images/logos/epsrc-white.png" alt="EPSRC logo" width="300"><img class="float-none" style="margin-left: 10px; margin-right: 10px;" src="{{ JOOMLA_BASE_URL }}/images/logos/cosec-white.png" alt="CoSeC logo" width="105"></p>
            <p style="text-align: center;"><small>CCPBioSim acknowledges the funding support it receives from UKRI - EPSRC through an SLA with Scientific Computing at UKRI - STFC </small></p>
        </div>
    </div>
</footer>

<a href="#top" id="back-top" class="back-to-top-link" aria-label="Back to Top">
    <span class="icon-arrow-up icon-fw" aria-hidden="true"></span>
</a>
